.profile-wrapper {
    position: relative;
    display: inline-block;
    object-fit: contain;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.img{
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.dropdown-panel {
    position: absolute;
    top: 50px;
    left: 0;
    width: 160px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    z-index: 100;
}

.sidebarBtn {
    display: flex;
    align-items: center;
    padding: 10px;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebarBtn:hover {
    background: rgba(211, 211, 211,0.2);
}

.dropdown-panel.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-item {
    padding: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    border-radius: 6px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.avatar{
    height: 24px;
    width: 24px;
    object-fit: cover;
}
.logout {
    color: #d00;
}
