.button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  border-radius: 8px;

  transition: all 0.3s ease;
}

.red {
  background: red;

  &:hover {
    background: rgb(241, 57, 57);
  }

  &:active {
    background: rgb(216, 33, 33);
  }
}

.blue {
  background: blue;

  &:hover {
    background: rgb(58, 58, 255);
  }

  &:active {
    background: rgb(33, 33, 199);
  }
}

.green {
  background: green;

  &:hover {
    background: rgb(26, 197, 26);
  }

  &:active {
    background: rgb(18, 158, 18);
  }
}

.paddingSmall {
  padding: 4px 8px;
}

.paddingMedium {
  padding: 8px 16px;
}

.paddingLarge {
  padding: 12px 24px;
}
