.messageText {
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: fit-content;
  margin-bottom: 8px;
  padding: 6px 10px;
  border-radius: 12px;
  background: white;
}

.message {
  display: flex;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.imgMessage {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 6px;
}

.messageFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  gap: 10px;
}

.noReaction {
  justify-content: flex-end;
  margin-top: -5px;
}

.footerLeft {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time {
  font-size: 12px;
  color: #555;
  user-select: none;
}

.status {
  width: 16px;
  height: 16px;
  object-fit: cover;
  user-select: none;
}

.reactionWrapper{
  display: flex;
  gap: 10px;
}



