.chat {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  max-width: 850px;
}
.defaultMessage{
  display: flex;
  flex-direction: column;
  margin-left: 9%;
}

::-webkit-scrollbar {
  width: 10px;
}

.chatsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
}

.userBox {
  @extend .defaultMessage;
}

.interlocutorBlock {
  @extend .defaultMessage;
  align-items: flex-end;
  margin-right: 9%;
}

.messageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}








