.avatarWrapper{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.btn {
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
}

.active {
  border: 1px solid blue;
}

