.reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 2px 6px;
  background: #f1f1f1;
  cursor: pointer;
  gap: 5px;
  user-select: none;
}

.reactionImg {
  width: 18px;
  height: 18px;
  object-fit: cover;
}