.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarBox {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid var(--bs-primary);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.avatarImg {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.uploadOverlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(var(--bs-primary-rgb), 0.75);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}
