.listGroupWrapper {
  position: absolute;
  z-index: 9999;
  font-size: 14px;
}

.emojiWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.emoji{
  border-radius: 12px;
}
.emoji:hover{
  cursor: pointer;
  opacity: 0.5;
}

.groupItem{
  font-size: 14px;
  cursor: pointer;
}

.deleteItem{
  color: red;
}

.deleteItem:hover{
  color: #6c0404;

}