@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);
* {
    font-family: "Roboto", sans-serif ;
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: clamp(1rem, .554vw + .8345rem, 1.25rem);
    font-weight: 500;
}


