.chatItem {
  position: relative;
  padding: 10px;
  margin: 1px 10px;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  user-select: none;
}

.avatar {
  border-radius: 50%;
  width: clamp(3rem, 2.2161vw + 2.338rem, 4rem);
  height: clamp(3rem, 2.2161vw + 2.338rem, 4rem);
  object-fit: contain;
}

.avatarWrapper {
  position: relative;
}

.status {
  content: '';
  position: absolute;
  background: #64c664;
  border-radius: 50%;
  width: 12px;
  top: 70%;
  left: 75%;
  height: 12px;
}

.userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.time {
  padding-right: 3px;
  padding-top: -10px;
  font-size: clamp(10px, 8px + 0.313vw, 12px);
  font-weight: 500;
  opacity: 70%;
}

//.newMessageCount{
//  content: '';
//  position: absolute;
//  right: 0;
//  transform: translateY(50%) translateX(-60%);
//  padding: 3px 10px;
//  background: lightgray;
//  border-radius: 50%;
//}

.lastMessage {
  color: #5a5959;
  font-weight: 450;
  display: block;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messageStatusWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageInfo {
  display: flex;
  align-items: center;
}

.managementChat {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(10px);
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 9999;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

@media (max-width: 1024px) {
  .managementChat {
    left: auto;
    right: 0;
    top: 115px;
    min-width: 120px;
    padding: 10px;
    gap: 10px;
  }
}

.menuBtn {
  font-size: 14px;
  color: black;
  border-radius: 12px;
  padding: 2px 4px;
  cursor: pointer;
}

.menuBtn:hover {
  opacity: 70%;
}

.messageStatus {
  height: 16px;
  width: 16px;
}

.chatItem:hover {
  background: rgba(211, 211, 211, 0.2);
}
